@model CV.Management.Web.Models.AdditionalFilesViewModel

<div class="row">
    <div class="col-md-12">
        <h5 class="additional-files-label"> @Resources.AdditionalFiles</h5>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tbody class="additional-files-table">

                @for (var i = 0; i < Model.Files.Count; i++)
                {
                    <tr>
                        @Html.HiddenFor(t => Model.Files[i].AdditionalFileId, new { @class = "additional-file-hidden" })
                        <td>@Model.Files[i].FileName <img class="remove-image pull-right" src="~/Content/Images/remove.png" /></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @Html.TextBoxFor(m => m.AdditionalFiles, new { id = "file_upload", type = "file", name = "AdditionalFiles", @class = "btn btn-default upload-button", multiple="multiple" })
    </div>
</div>