<div class="row">
    @using (Html.BeginForm("AdditionalFiles", "Cv", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-md-12">
            <input id="file_upload" type="file" name="files" class="btn btn-default" multiple/>
        </div>
        <div class="col-md-12">
            <input id="file_save" type="submit" name="Submit" value="@Resources.Upload" class="btn btn-primary" />
        </div>
    }
</div>