
<div class="row text-center">
    <img src="~/Content/Images/default_pic.png" class="profile-image" class="img-rounded"/>
</div>

<div class="row">
    @using (Html.BeginForm("Upload", "Home", FormMethod.Post, new { enctype = "multipart/form-data"}))
    {
    <div class="col-md-12">
        <input id="file_upload" type="file" name="file" class="btn btn-default" />
    </div>
    <div class="col-md-12">
        <input id="file_save" type="submit" name="Submit" id="Submit" value="Upload" class="btn btn-primary" />
    </div>
    }
</div>