.navbar {
    height: 90px;
    margin: 0px;
}

.navbar-inverse {
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.navbar-brand {
    height: 80px;
}

    .navbar-brand img {
        max-width: 100%;
        max-height: 100%;
    }

.nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #231f20;
}

.navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0;
}


@font-face {
    font-family: 'dax-regularregular';
    src: url("fonts/ufonts.com_dax-regular.eot");
    src: url("fonts/ufonts.com_dax-regular.eot?#iefix") format("embedded-opentype"), url("fonts/ufonts.com_dax-regular.woff2") format("woff2"), url("fonts/ufonts.com_dax-regular.woff") format("woff"), url("fonts/ufonts.com_dax-regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: "dax-regularregular", sans-serif;
    padding-top: 10px;
}

.panel-body .row {
    margin: 0px;
}

.profile-image {
    max-width: 100%;
}

.form-group label {
    margin-bottom: 0px;
    padding-top: 10px;
}

.form-control {
    max-width: 100%;
}

.form-group .btn {
    margin-top: 30px;
    width: 100%;
    max-width: 100%;
}

#file_upload, #file_save {
    max-width: 100%;
    margin-top: 20px;
    width: 100%;
}

.personal-information {
    border-left: 1px solid rgb(221, 221, 221);
}

.left-border {
    border-left: 1px solid rgb(221, 221, 221);
}

.add-button {
    padding-top: 20px;
    color: #3687c4;
}

    .add-button:hover {
        padding-top: 20px;
        color: #231f20;
    }

.remove-button {
    padding-top: 34px;
}

.education-now-input, .career-position-now-input, .membership-now-input, .remember-input {
    margin-left: 0px !important;
}

.education-now-label, .career-position-now-label, .membership-now-label, .remember-label {
    padding-top: 0px !important;
}

.checkbox {
    margin-top: 5px;
}

.left-control {
    height: 104px;
}

.line {
    display: block;
    margin-top: 31px;
    background: linear-gradient(#ebecee, #ebecee) no-repeat center/100% 1px;
}

    .line em {
        text-transform: uppercase;
        font-size: 14px;
        color: #bcbcbc;
        display: table;
        margin: 0 auto;
        padding: 0 25px;
        background-color: white;
    }

.external-login-list {
    text-align: center;
    padding-top: 30px;
}

.login-image {
    display: block;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 40px;
}

.additional-files-label {
    font-weight: bold;
}

.uppercase {
    text-transform: uppercase;
}

.tab_more {
    display: table;
    margin: 38px auto;
    padding-left: 35px;
    font-size: 12px;
    color: #1c74bb;
    text-transform: uppercase;
    height: 24px;
    line-height: 24px;
    background: url(Images/add.png) no-repeat left center;
}

    .tab_more:hover {
        background: url(Images/add_h.png) no-repeat left center;
        color: #231f20;
        cursor: pointer;
    }

.download_word_en, .download_word_lv {
    padding-left: 35px;
    font-size: 24px;
    color: #1c74bb;
    text-transform: uppercase;
    background: url(Images/docs.png) no-repeat left center;
}

    .download_word_en:hover, .download_word_lv:hover {
        background: url(Images/docs_h.png) no-repeat left center;
        color: #231f20;
        cursor: pointer;
    }

.download_word_empty {
    padding-left: 35px;
    font-size: 24px;
    color: #1c74bb;
    text-transform: uppercase;
    background: url(Images/docs.png) no-repeat left center;
}

    .download_word_empty:hover {
        background: url(Images/docs_h.png) no-repeat left center;
        color: #231f20;
        cursor: pointer;
    }


.download_ppt_en {
    padding-left: 35px;
    font-size: 24px;
    color: #1c74bb;
    text-transform: uppercase;
    background: url(Images/pptx.png) no-repeat left center;
}

    .download_ppt_en:hover {
        background: url(Images/pptx_h.png) no-repeat left center;
        color: #231f20;
        cursor: pointer;
    }

/* CUSTOM STUFF */

.panel-title {
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}

.panel {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-bottom: 15px;
}

.panel-heading {
    padding: 16px 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

    .panel-heading h4 {
        line-height: 24px;
    }

.panel-group .panel {
    border-radius: 0px;
}

.panel-default {
    border-color: #FFFFFF;
}

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        background-color: #FFFFFF;
        border-top-color: #FFFFFF;
    }

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border-top: 0px;
}

.panel-default > .panel-green {
    background-color: #009347;
}

.panel-default > .panel-middle-blue {
    background-color: #1c74bb;
}

.panel-default > .panel-pink {
    background-color: #a21f60;
}

.panel-default > .panel-red {
    background-color: #c31826;
}

.panel-default > .panel-heavy-blue {
    background-color: #262261;
}

.panel-default > .panel-orange {
    background-color: #f15a29;
}

.panel-default > .panel-light-blue {
    background-color: #32bdea;
}

.btn {
    border-radius: 0px;
}

.btn-primary {
    background-color: #1a76bc;
    border-color: #1a76bc;
    color: #FFFFFF;
}

    .btn-primary:hover {
        background-color: #FFFFFF;
        border-color: #1a76bc;
        color: #1a76bc;
    }

.form-control {
    border-radius: 0px;
}

.file-upload-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

    .file-upload-wrapper input[type=file] {
        opacity: 0;
    }

.upload-button {
    background-color: #FFFFFF;
    border-color: #1a76bc;
    color: #1a76bc;
}

.tab_act {
    background: url(Images/tab_close_h.png) no-repeat center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: block;
    float: right;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.phone-code-input-div {
    padding-left: 0px;
    padding-right: 0px;
}

.phone-input-div {
    padding-right: 0px;
}

.italic {
    font-style: italic;
}

.field-validation-error {
    color: red;
}

#alert_message {
    display: none;
    position: fixed;
    top: 10px;
    width: 400px;
    z-index: 100;
    left: 50%;
    margin-left: -200px;
    text-align: center;
}

.navbar-inverse .navbar-nav > li > a {
    color: black;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    color: black;
    background-color: #e6e6e6;
}
