@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}

<h1 class="text-danger">Profile with specified email already exists.</h1>
<h2 class="text-danger">Please, use existing profile or choose different email.</h2>

