@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}

<h1 class="text-danger">User not found.</h1>
<h2 class="text-danger">Requested user profile does not exist. Please, contact support.</h2>

